body {
    background: rgb(17, 24, 39);
}

:root {
    --color: #6366f1;
    --light: rgb(55, 65, 81);
    --text: #9ca3af;
}

#basic-addon2 {
    background: var(--color);
}

#basic-addon2:hover {
    filter: brightness(90%);
}

.title {
    color: var(--text);
}
i {
    color: var(--color);
}